*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    min-height: 100%;
    background: linear-gradient(to bottom,  #005c99,#89cff0);
}

p,h4{
    color:black
}
